replicaCount: 1

image:
  repository: us-central1-docker.pkg.dev/google-samples/microservices-demo/frontend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  DISABLE_PROFILER value: "1"
env: {}

resources: {}

livenessProbe:
  httpGet:
    path: /_healthz
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 20

readinessProbe:
  httpGet:
    path: /_healthz
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix

nameOverride: ""
fullnameOverride: ""
