apiVersion: apps/v1
kind: Deployment
metadata:
  name: cartservice
  namespace: online-boutique-dev
  labels:
    app: cartservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cartservice
  template:
    metadata:
      labels:
        app: cartservice
    spec:
      containers:
        - name: cartservice
          image: us-central1-docker.pkg.dev/google-samples/microservices-demo/cartservice:latest
          ports:
            - containerPort: 7070
          env:
            - name: REDIS_ADDR
              value: "redis:6379"
          readinessProbe:
            grpc:
              port: 7070
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            grpc:
              port: 7070
            initialDelaySeconds: 15
            periodSeconds: 20
