{{- if and .Values.podDisruptionBudget.enabled .Values.name }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ .Values.name }}-pdb
  labels:
    app: {{ .Values.name }}
spec:
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
{{- end }}
