apiVersion: apps/v1
kind: Deployment
metadata:
  name: currencyservice
  namespace: online-boutique-dev
  labels:
    app: currencyservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currencyservice
  template:
    metadata:
      labels:
        app: currencyservice
    spec:
      containers:
        - name: currencyservice
          image: us-central1-docker.pkg.dev/google-samples/microservices-demo/currencyservice:latest
          ports:
            - containerPort: 7000
          env:
            - name: PORT
              value: "7000"
          readinessProbe:
            grpc:
              port: 7000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            grpc:
              port: 7000
            initialDelaySeconds: 15
            periodSeconds: 20
