{{- $fullName := include "online-boutique-service.fullname" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - containerPort: {{ .Values.service.port }}

          env:
            - name: PORT
              value: "{{ .Values.service.port }}"
            - name: DISABLE_PROFILER
              value: "1"

            - name: CART_SERVICE_ADDR
              value: "cart-online-boutique-service:7070"
            - name: PRODUCT_CATALOG_SERVICE_ADDR
              value: "productcatalog-online-boutique-service:3550"
            - name: PAYMENT_SERVICE_ADDR
              value: "payment-online-boutique-service:5050"
            - name: RECOMMENDATION_SERVICE_ADDR
              value: "recommendation-online-boutique-service:8080"
            - name: SHIPPING_SERVICE_ADDR
              value: "shipping-online-boutique-service:50051"
            - name: CHECKOUT_SERVICE_ADDR
              value: "checkout-online-boutique-service:5050"
            - name: AD_SERVICE_ADDR
              value: "ad-online-boutique-service:9555"
            - name: EMAIL_SERVICE_ADDR
              value: "email-online-boutique-service:2500"
            - name: CURRENCY_SERVICE_ADDR
              value: "currency-online-boutique-service:7000"
            - name: SHOPPING_ASSISTANT_SERVICE_ADDR
              value: "shopping-assistant-online-boutique-service:6060"

          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
  selector:
    app: {{ .Chart.Name }}
