apiVersion: v1
kind: Service
metadata:
  name: {{ include "podinfo.fullname" . }}
  labels:
    app: podinfo
spec:
  type: {{ .Values.service.type }}
  selector:
    app: podinfo
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
