apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
  namespace: online-boutique-dev
  labels:
    app: adservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
    spec:
      containers:
        - name: adservice
          image: us-central1-docker.pkg.dev/google-samples/microservices-demo/adservice:latest
          ports:
            - containerPort: 9555
          env:
            - name: PORT
              value: "9555"
          readinessProbe:
            grpc:
              port: 9555
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            grpc:
              port: 9555
            initialDelaySeconds: 15
            periodSeconds: 20
